.App {
  background-color: white;
  padding:0px;
  margin: 0px;

}


.title_font{
    font-size: bold;
      font-family: Arial, Helvetica, sans-serif;

}

.fit_content{
  height: 370px;
}

.App-header {
  background-color: green;
  min-height: fit-content;
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 15px;
}
.generic_border{
  border-bottom:1px solid black
}
.book_container{
  background-color: inherit;
  height:fit-content;
  width:100%;
  padding-bottom: 5px;

}


.section_title{
  height:fit-content;
  font-size: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  font-weight: bolder;
}


img{
  height:270px;
  width:180px;
}

.book_title{
  width:180px;

}



.my_class{
  background-color: green;
  padding:15px;
  border-radius: 50%;
  position:absolute;
  bottom:85px;
  right:45px;
  cursor:pointer;
}

.book_wrapper{
  position:relative;
}


.modal_button{
  background-color: green;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-bottom: 5px;
  position: fixed;
  border: 0;
  bottom: 30px;
  right: 30px;
  
}

.modal_background{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: scroll;
  top:0;
  left:0;
}

#book_input{
  background-color: inherit;
  padding-left: 30px;
  height: 50px;
  border: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#book_input:focus{
  outline: none;
}


.bi.bi-arrow-left{
  position: absolute;
   top:15px;
   left: 5px;
   cursor: pointer;
}

.book_thumbnail{
  background-color: inherit;
}

.fit_cont{
  width: fit-content;
}

.book_info{
  height: 100px;
  overflow:hidden;
  width:180px;
  
}

.list_item{

  font-size: 12px;
  width: 100px;
  margin-left: 5px; 
}

.list_item:hover{
  background-color: royalblue;
  color:White;
  
}

.list_toggler{
  position:absolute;
  background-color: #52a24c;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-bottom: 5px;
  bottom: 90px;
  right: 27px;
}


.options_list{
 width: 110px;
  position: absolute;
  top:13px;
  left: 11px;
  background-color: #e5e5f3;
  opacity: 0.9;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 70px;
  padding-top: 5px;
  border-radius: 5px;
  
}