.App {
  background-color: white;
  padding:0px;
  margin: 0px;

}


.title_font{
    font-size: bold;
      font-family: Arial, Helvetica, sans-serif;

}

.fit_content{
  height: 370px;
}

.App-header {
  background-color: green;
  min-height: fit-content;
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 15px;
}
/* .generic_border{
  border-bottom:1px solid black
} */
.first_container{
  background-color: inherit;
  height:fit-content;
  width:100%;
  padding-bottom: 5px;

}
.second_container {
  background-color: inherit;
  height: fit-content;
  width: 100%;
  padding-bottom: 5px;

}
.third_container {
  background-color: inherit;
  height: fit-content;
  width: 100%;
  padding-bottom: 5px;

}

.section_title{
  height:fit-content;
  font-size: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  font-weight: bolder;
}


img{
  height:270px;
  width:180px;
}

.book_title{
  width:180px;

}



.my_class{
  background-color: green;
  padding:15px;
  border-radius: 50%;
  position:absolute;
  bottom:85px;
  right:45px;
  cursor:pointer;
}

.book_wrapper{
  position:relative;
}

.position_adjuster{
  position: fixed;
  background-color: green;
  padding:15px;
  border-radius: 50%;
  bottom:50px;
  right:45px;
  cursor:pointer;
}

